<!-- Modal - Mis centros médicos -->
<div class="section-modal modal fade" id="centros-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Mis centros médicos</h3>
                    <p>lalala</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/hospital.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Hospital</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/clinic.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Clínica</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/pharmacy.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Farmacia</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/ambulance.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Ambulancia</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/hospital.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Hospital</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/clinic.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Clínica</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/pharmacy.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Farmacia</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/pharmacy.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Farmacia</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/ambulance.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Ambulancia</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/clinic.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Clínica</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/hospital.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Hospital</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/hospital.png" class="img-responsive" alt="...">
                        <div class="detalle-item2 text-center">
                            <h4>Hospital</h4>
                            <div class="detalle-centro"><i class="fa fa-calendar"></i><strong>Horario:</strong> L-V 8:00 a 20:00</div>
                            <div class="detalle-centro"><i class="fa fa-globe"></i><strong>Dirección:</strong> Avenida Lalala</div>
                            <div class="detalle-centro"><i class="fa fa-phone"></i><strong>Teléfono:</strong> +34 966060606</div>
                            <div class="detalle-centro"><i class="fa fa-link"></i><strong>Web:</strong> <a href="#" target="_blank">www.hospital.com</a></div>
                            <a href="#" class="boton-detalle"><i class="fa fa-eye"></i>Médicos asignados</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <img src="assets/images/default/add2.png" class="img-responsive" alt="Añadir nuevo centro médico">
                        <div class="detalle-item2 text-center">
                            <h4>Nuevo centro médico</h4>
                            <br>
                            <a href="#" class="boton-detalle"><i class="fa fa-plus-circle"></i>Añadir</a>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div>

    </div>
</div>
