<!-- Modal - Mis familiares -->
<div class="section-modal modal fade" id="familiares-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Mis familiares</h3>
                    <p>lalala</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_male.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>José</h4>
                            <div class="designation">Hermano</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_female.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Antonia</h4>
                            <div class="designation">Cuñada</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_female.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Josefina</h4>
                            <div class="designation">Suegra</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Enrique</h4>
                            <div class="designation">Yerno</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_female.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Macarena</h4>
                            <div class="designation">Hermana</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_male.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Conancio</h4>
                            <div class="designation">Primo</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Aurelio</h4>
                            <div class="designation">Primo</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/user_male.png" class="img-responsive" alt="">
                        <div class="detalle-item">
                            <h4>Manolo</h4>
                            <div class="designation">Abuelo</div>
                            <ul style="text-align: center;">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="assets/images/default/add1.png" class="img-responsive" alt="Añadir nuevo familiar">
                        <div class="detalle-item">
                            <h4>Nuevo familiar</h4>
                            <a href="#" class="add-item"><i class="fa fa-plus-circle"></i>Añadir</a>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div>

    </div>
</div>
