<!-- Start Contact Section -->
<div class="section-modal modal fade contact" id="contacto-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Contacto</h3>
                    <p>Dudas y sugerencias</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="footer-contact-info">
                        <h4>Información de contacto</h4>
                        <ul>
                            <li><strong>E-mail :</strong> staff.chronicall@gmail.com</li>
                            <li><strong>Teléfono :</strong> +34 965606060</li>
                            <li><strong>Mobile :</strong> +34 654606060</li>
                            <li><strong>Web :</strong> chronicall.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-social text-center">
                        <ul>
                            <li><a href="https://www.facebook.com/ChroniCall-660676574117358/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/ChroniTeam" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/112304708802399339306" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/chroni" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://es.pinterest.com/chronicallapp/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-contact-info">
                        <h4>Dirección</h4>
                        <ul>
                            <li>Universidad de Alicante, </li>
                            <li>carretera San Vicente s/n</li>
                            <li>03690 San Vicente del Raspeig, </li>
                            <li>Alicante (Spain)</li>
                        </ul>
                    </div>
                </div>

            </div><!--/.row -->
            <div class="row" style="padding-top: 80px;">
                <div class="col-md-12">
                    <form name="sentMessage" id="contactForm" class="formulario-basico" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" id="name" required data-validation-required-message="Por favor, introduce tu nombre.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Por favor, introduce tu dirección de correo electrónico.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Teléfono *" id="phone" required data-validation-required-message="Por favor, introduce tu número de teléfono.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensaje *" id="message" required data-validation-required-message="Por favor, introduce un mensaje."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Contact Section -->
