<!-- Cabecera -->
<section id="logo-section" class="text-center">
	<div id="contenedor-logo">
		<div class="logo text-center">
			<h1>ChroniCall</h1>
			<div class="subtitulo">
				<span>Control de enfermos crónicos</span>
			</div>
			<!-- <hr class="small"> -->
		</div>
	</div>
</section>


<!--

<section id="logo-section" class="text-center">
	<div>
		<div class="row">
			<div class="col-md-12">
				<div id="contenedor-logo">
					<div class="logo text-center">
						<h1>ChroniCall</h1>
						<div class="subtitulo">
							<span>Control de Enfermos Crónicos</span>
						</div>
						<hr class="small">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

-->
