<ion-view view-title="Mis centros médicos" class="fondo-principal">

  <ion-content class="padding">

    <!--
    <ion-card>
      <img src="img/nin-live.png" />
      <ion-card-content>
        <ion-card-title>
          Nine Inch Nails Live
        </ion-card-title>
        <p>
          The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        </p>
      </ion-card-content>
    </ion-card>
    -->


    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/hospital.png">
        <h2>HGUA</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/hospital.png"/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
      </div>
    </div>



    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/hospital.png">
        <h2>HGUA</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/hospital.png"/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
      </div>
    </div>



    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/hospital.png">
        <h2>HGUA</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/hospital.png"/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
      </div>
    </div>

  </ion-content>
</ion-view>
