<ion-view view-title="Inicio" class="fondo-principal" hide-nav-bar="true">

  <ion-content padding="true" scroll="true">

    <img src="../img/logos/logo.png" class="img-responsive logo-inicial" alt="ChroniCall">

    <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000">

      <ion-slide>
        <div class="contenedor-texto-inicial">
          <p class="texto-inicial">Control y seguimiento de enfermedades crónicas</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-texto-inicial">
          <p class="texto-inicial">Diario de síntomas y sensaciones</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-texto-inicial">
          <p class="texto-inicial">Avisos para la toma de medicamentos</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-texto-inicial">
          <p class="texto-inicial">Sistema de mensajería instantánea</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-texto-inicial">
          <p class="texto-inicial">Información sobre centros y personal sanitario</p>
        </div>
      </ion-slide>

    </ion-slide-box>

    <div class="contenedor-botones-autenticacion">
      <button class="button button-full boton-inicial" ng-click="login()"><i class="icon ion-log-in"></i>LOGIN</button>
      <button class="button button-full boton-inicial" ng-click="registro()"><i class="icon ion-compose"></i>REGISTRO</button>
    </div>

  </ion-content>

</ion-view>





<!--

<ion-view title="Iniciar sesión" class="fondoPrincipal" hide-nav-bar="true">
  <ion-content padding="false" scroll="true">

    <script id="modalLogin.html" type="text/ng-template">
      <ion-modal-view class="modalNotificacion">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 id="titLogin" class="title"></h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header-bar>
        <ion-content class="modalContenedor">
          <span id="msgLogin"></span>
          <a id="botonNotificacionLogin" ng-click='modal.hide()' class='button button-positive button-normal'></a>
          <br>
        </ion-content>
      </ion-modal-view>
    </script>

    <div class="container centrado form-block lista-scroll">

      <div class="form-box lista-scroll">

        <div>
          <span class="blanco titform">LOGIN</span>
        </div>

        <hr />

        <div class="form-gen">

          <form name="login_form" ng-controller="loginCtrl">

            <input type="email" placeholder="Email" class="input-field" id="email" name="email" ng-model="formData.email" required>
            <div class="avisoform blanco" ng-show="!login_form.email.$pristine && login_form.email.$error.required">El email es obligatorio.</div>
            <div class="avisoform blanco" ng-show="!login_form.email.$pristine && login_form.email.$error.email">El formato del email es incorrecto.</div>

            <input type="password" placeholder="Contraseña" class="input-field" id="pass" name="pass" ng-model="formData.pass" required>
            <div class="avisoform blanco" ng-show="!login_form.pass.$pristine && login_form.pass.$error.required">La contraseña es necesaria.</div>

            <input type="button" class="btn btn-form" value="Entrar" ng-click="submitForm(formData)" ng-disabled="!login_form.$valid">

          </form>

          <hr />

          <div class="centrado">

            <p class="enlaceparrafo blanco">¿Olvidaste tu contraseña? <a href="#/recuperarpass">Recup&eacute;rala</a></p>

            <p class="enlaceparrafo blanco">¿No tienes una cuenta? <a href="#/registro">Reg&iacute;strate</a></p>
            <br>

          </div>

        </div>

      </div>

    </div>

  </ion-content>
</ion-view>

-->
