<ion-view view-title="Mis médicos" class="fondo-principal">

  <ion-content class="padding">


    <!--
    <div>
      <a class="item item-thumbnail-right" ng-repeat="activeOffer in activeOffers">
        <div class="item item-avatar">
          <h2>aaa</h2>
          <p>bb</p>
        </div>
        <h2>aa</h2>
        <p>vv</p>
      </a>
      aaaa
</div>
-->


    <ion-list>
      <!--
      <a class="item item-thumbnail-right" ng-href="#/app/offers/{{activeOffer.offer.id}}">
        <img ng-src="{{siteRoot}}/upload/assets/img/media-support/{{activeOffer.mediaSupport.fileName}}">
        <div class="item item-avatar">
          <img ng-src="{{siteRoot}}/upload/assets/img/localbusiness/{{activeOffer.localBusiness.logo}}">
          <h2>Uno</h2>
          <p>subuno</p>
        </div>
        <h2>Dos</h2>
        <p>Subdos</p>
      </a>
-->



      <!--
      <a class="item item-thumbnail-right"
         ng-href="#/app/offers/{{activeOffer.offer.id}}">
        <img ng-src="img/default/doctor_male.png">
        <div class="item item-avatar">
          <img ng-src="img/default/doctor_male.png">
          <h2>aaaaa</h2>
          <p>bbbb</p>
        </div>
      </a>
-->


      <ion-item class="item-remove-animate item-thumbnail-left chroni-card" type="item-text-wrap" href="#/tab/restaurant_category/{{item.rest_id}}">
        <img ng-src="img/default/doctor_male.png">
        <!--<img src="img/default/doctor_female.png" style="float:left;width: 15px;height: 15px;">-->
        <h2>
          <span>Francisco González</span>
          <a>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </a>
        </h2>
        <p>Especialidad ...</p>
        <div class="row">
          <div class="col text-center">
            <a><i class="icon ion-chatbubble icon-card"></i>1 comentario</a>
            <!-- <p>delivers in 60 min</p> -->
          </div>
          <div class="col text-right">
            <a><i class="icon ion-chatbox-working icon-card"></i>Mensaje</a>
          </div>
        </div>
        <div class="welcome-custom-icon"><span class="ti-angle-right"></span></div>
      </ion-item>



      <ion-item class="item-remove-animate item-thumbnail-left chroni-card" type="item-text-wrap" href="#/tab/restaurant_category/{{item.rest_id}}">
        <img ng-src="img/default/doctor_female.png">
        <!--<img src="img/default/doctor_female.png" style="float:left;width: 15px;height: 15px;">-->
        <h2>
          <span>Carmen Lillo</span>
          <a>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </a>
        </h2>
        <p>Especialidad ...</p>
        <div class="row">
          <div class="col text-center">
            <a><i class="icon ion-chatbubble icon-card"></i>7 comentarios</a>
            <!-- <p>delivers in 60 min</p> -->
          </div>
          <div class="col text-right">
            <a><i class="icon ion-chatbox-working icon-card"></i>Mensaje</a>
          </div>
        </div>
        <div class="welcome-custom-icon"><span class="ti-angle-right"></span></div>
      </ion-item>



      <ion-item class="item-remove-animate item-thumbnail-left chroni-card" href="#/tab/restaurant_category/{{item.rest_id}}">
        <img ng-src="img/default/nurse_male.png">
        <!--<img src="img/default/doctor_female.png" style="float:left;width: 15px;height: 15px;">-->
        <h2>
          <span>Guillermo Pérez</span>
          <a>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </a>
        </h2>
        <p>Especialidad ...</p>
        <div class="row">
          <div class="col text-center">
            <a><i class="icon ion-chatbubble icon-card"></i>0 comentarios</a>
            <!-- <p>delivers in 60 min</p> -->
          </div>
          <div class="col text-right">
            <a><i class="icon ion-chatbox-working icon-card"></i>Mensaje</a>
          </div>
        </div>
        <div class="welcome-custom-icon"><span class="ti-angle-right"></span></div>
      </ion-item>


      <ion-item class="item-remove-animate item-thumbnail-left chroni-card" href="#/tab/restaurant_category/{{item.rest_id}}">
        <img ng-src="img/default/nurse_female.png">
        <!--<img src="img/default/doctor_female.png" style="float:left;width: 15px;height: 15px;">-->
        <h2>
          <span>Laura Herrero</span>
          <a>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
            <i class="icon ion-star"></i>
          </a>
        </h2>
        <p>Especialidad ...</p>
        <div class="row">
          <div class="col text-center">
            <a><i class="icon ion-chatbubble icon-card"></i>2 comentarios</a>
            <!-- <p>delivers in 60 min</p> -->
          </div>
          <div class="col text-right">
            <a><i class="icon ion-chatbox-working icon-card"></i>Mensaje</a>
          </div>
        </div>
        <div class="welcome-custom-icon"><span class="ti-angle-right"></span></div>
      </ion-item>








      <!-- Tarjeta ORIGINAL: -->
      <!--
      <ion-item class="item-remove-animate item-avatar-right" ng-repeat="item in listingData.app" type="item-text-wrap" href="#/tab/restaurant_category/{{item.rest_id}}">
        <img ng-src="{{item.logo}}">
        <img src="" style="float:left;width: 15px;height: 15px;">
        <h2>{{item.restaurant_name}}</h2>

        <p ng-repeat="cuisne in item.available_cuisine.cuisine">{{cuisne.name}}</p>
        <div class="row order-policy-time">

          <div class="col col-50">
            <p>delivers in 60 min</p>
          </div>
          <div class="col text-right">
            <p>collection in 30 min</p>
          </div>
        </div>
        <div class="welcome-custom-icon"><span class="ti-angle-right"></span></div>
      </ion-item>
      -->


    </ion-list>





    <!--
    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/doctor_male.png">
        <h2>Alberto García</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/doctor_male.png"/>
        Médico. Especialidad: ...
      </div>
    </div>


    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/doctor_male.png">
        <h2>Alberto García</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/doctor_male.png"/>
        Médico. Especialidad: ...
      </div>
    </div>


    <div class="card">
      <div class="item item-avatar">
        <img src="img/default/doctor_male.png">
        <h2>Alberto García</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/default/doctor_male.png"/>
        Médico. Especialidad: ...
      </div>
    </div>

-->


  </ion-content>
</ion-view>
