<!-- <ion-side-menus enable-menu-with-back-views="false"> -->

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable barra">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="contenido"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="fondo-principal menu-listado">
    <ion-header-bar class="bar-stable">
      <h1 class="title fondo-secundario titulo-menu">Usuario</h1>
    </ion-header-bar>
    <ion-content>



      <ion-list>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/centros">
          <i class="fa fa-hospital-o fa-lg icono-menu"></i> Mis centros médicos
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/medicos">
          <i class="fa fa-user-md fa-lg icono-menu"></i> Mis médicos
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/familiares">
          <i class="fa fa-users fa-lg icono-menu"></i> Mis familiares
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/diario">
          <i class="fa fa-book fa-lg icono-menu"></i> Mi diario de síntomas
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/citas">
          <i class="fa fa-calendar fa-lg icono-menu"></i> Mis citas
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/historial">
          <i class="fa fa-file-text-o fa-lg icono-menu"></i> Mi historial médico
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/configuracion">
          <i class="fa fa-cog fa-lg icono-menu"></i> Configuración
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/ayuda">
          <i class="fa fa-question-circle fa-lg icono-menu"></i> Ayuda
        </ion-item>
        <ion-item class="fondo-principal item-menu" menu-close href="#/app/inicio">
          <i class="fa fa-sign-out fa-lg icono-menu"></i> Salir
        </ion-item>
      </ion-list>


      <!--
      <div class="list">
        <div class="item fondo-principal item-menu" menu-close href="#/app/centros">
          <i class="fa fa-hospital-o fa-lg icono-menu"></i> Mis centros médicos
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/medicos">
          <i class="fa fa-user-md fa-lg icono-menu"></i> Mis médicos
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/familiares">
          <i class="fa fa-users fa-lg icono-menu"></i> Mis familiares
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/diario">
          <i class="fa fa-book fa-lg icono-menu"></i> Mi diario de síntomas
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/citas">
          <i class="fa fa-calendar fa-lg icono-menu"></i> Mis citas
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/historial">
          <i class="fa fa-file-text-o fa-lg icono-menu"></i> Mi historial médico
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/configuracion">
          <i class="fa fa-cog fa-lg icono-menu"></i> Configuración
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/ayuda">
          <i class="fa fa-question-circle fa-lg icono-menu"></i> Ayuda
        </div>
        <div class="item fondo-principal item-menu" menu-close href="#/app/inicio">
          <i class="fa fa-sign-out fa-lg icono-menu"></i> Salir
        </div>
      </div>
      -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>



<!--
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="contenido"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/centros">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/medicos">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/centros">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/medicos">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
-->


