<!-- Sección - Descarga -->

<div class="seccion seccion-descarga" ng-controller="seccionCtrl">


    <div class="container">

        <div class="row">
            <h2>DESCARGA</h2>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-7">

                <br>
                <h3>ChroniCall</h3>
                <h5>La aplicación para controlar tus #EnfermedadesCrónicas.</h5>

                <br><br>

                <div class="col-xs-12 col-sm-6">
                    <button type="button" id="descarga_googleplay" class="btn btn-lg btn-descarga"><i class="fa fa-android" aria-hidden="true"></i>Google Play</button>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <button type="button" id="descarga_appstore" class="btn btn-lg btn-descarga"><i class="fa fa-apple" aria-hidden="true"></i>App Store</button>
                </div>

                <p class="small">Encuentra ayuda para convivir con una enfermedad crónica: consulta opiniones de pacientes, elige especialista médico en tu ciudad, reserva citas por Internet, recibe avisos sobre toma de medicamentos, escribe tu diario de síntomas, comunícate directamente con tu médico... y mucho más!
                </p>
                <!--
                <p class="small">ChroniCall es una aplicación web y móvil concebida tanto para mejorar la atención de las enfermedades crónicas en los centros sanitarios como para ofrecer herramientas que den soporte a los pacientes con todos tipos de enfermedades crónicas: diario de síntomas, avisos sobre citas y medicamentos, etc. Es totalmente gratuita para los pacientes residentes de España. Precios competitivos para los hospitales.</p>
                -->

            </div>

            <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">

                <img src="assets/images/secciones/app.png" class="img-responsive" alt="App ChroniCall">

            </div>

        </div>

    </div>


    <br><br><a ui-sref="chronicall.publico.inicio" ng-click="cabeceraInicio()" class="volver-menu">VOLVER</a>

</div>
