<!-- Sección - Información -->

<div class="seccion seccion-informacion" ng-controller="seccionCtrl">

    <div class="container">

        <div class="row">
            <h2>INFORMACIÓN</h2>
        </div>

        <div class="row contenedor-info">

            <div class="col-xs-12 col-md-6 info-1">

                <p><i class="fa fa-circle" aria-hidden="true"></i>El objetivo de la aplicación web y móvil ChroniCall es ayudar tanto a los pacientes y sus familiares, como al personal sanitario llevar a cabo el seguimiento de las enfermedades crónicas.</p>

                <p><i class="fa fa-circle" aria-hidden="true"></i>ChroniCall no solo brinda las prestaciones básicas de una aplicación típica de un centro médico, tales como, por ejemplo, proporcionar una interfaz para pedir cita por Internet, proporcionar la información sobre los médicos especialistas y los establecimientos sanitarios de la ciudad de interés, administrar horarios de los médicos, gestionar los historiales médicos electrónicos, diseñar y controlar el cumplimiento de los planes de tratamiento, etc., sino también ofrece herramientas adicionales orientadas a las necesidades específicas de los pacientes con enfermedades crónicas y sus familiares, tales como un diario de síntomas, notificaciones sobre la toma de medicamientos y mensajería instantánea para la comunicación directa entre un médico y un paciente.
                    <!-- Así mismo, ChroniCall propone cuentas propias para los familiares que están cuidando a los pacientes crónicos, hecho que permite controlar acceso de los familiares a la aplicación por parte del paciente y facilitar comunicación entre los familiares, los médicos asignados al paciente y los centros sanitarios. -->
                </p>

            </div>

            <div class="col-xs-12 col-md-6 info-2">

                <p><i class="fa fa-circle" aria-hidden="true"></i>ChroniCall ha sido diseñado y desarrollado teniendo en cuenta la especificación Fast Healthcare Interoperability Resources (FHIR) de los estandares de la organización Health Level 7 (HL7) para el intercambio electrónico de información en salud. De este modo la aplicación puede estar integrada en cualquier tipo del sistema de información hospitalario que siga la especificación FHIR.</p>

                <p><i class="fa fa-circle" aria-hidden="true"></i>Las posibles funciones futuras de ChroniCall: Citas con los médicos a través de una videollamada (solo con un médico asignado al paciente anteriormente); Aplicación de los métodos del Procesamiento del lenguaje natural a los corpus de textos generados por los pacientes en el marco de la aplicación para detectar ciertos riesgos relacionados con el estado de su salud tanto físico como mental; Foros especializados para los pacientes según su enfermedad crónica moderados por los médicos.</p>

            </div>

        </div>

    </div>

    <br><br><a ui-sref="chronicall.publico.inicio" ng-click="cabeceraInicio()" class="volver-menu">VOLVER</a>

</div>
