<!-- Sección - Serivicios -->

<div class="seccion seccion-servicios" ng-controller="seccionCtrl">

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>SERVICIOS</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Citas previas</strong>
                            </h4>
                            <p>Petición de citas previas con el médico elegido a partir de un calendario y horario.</p>
                            <!-- <a href="#" class="btn btn-light">Saber más</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Mensajería instantánea</strong>
                            </h4>
                            <p>Establecimiento de una comunicación directa entre el médico y el paciente.</p>
                            <!-- <a href="#" class="btn btn-light">Saber más</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-book fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Diario de síntomas</strong>
                            </h4>
                            <p>Análisis de la dinámica de la enfermedad y detección de los factores desencadenantes de los síntomas.</p>
                            <!-- <a href="#" class="btn btn-light">Saber más</a> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-file-text fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Historial médico</strong>
                            </h4>
                            <p>Informe completo de todos los diagnósticos que ha recibido el paciente.</p>
                            <!-- <a href="#" class="btn btn-light">Saber más</a> -->
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br><br>
                        <p>Además de los servicios principales ofrecidos, ChroniCall dispone de un completo sistema de avisos y notificaciones (recordatorios de citas previas próximas, toma de medicamentos, etc), congifuración personalizada y realización de peticiones/reclamaciones.</p>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>



    <br><br><a ui-sref="chronicall.publico.inicio" ng-click="cabeceraInicio()" class="volver-menu">VOLVER</a>

</div>
